<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113955999228-dv0gmm1f4hakqhaitncq2klou3q11d3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113955999228-dv0gmm1f4hakqhaitncq2klou3q11d3m</string>
	<key>API_KEY</key>
	<string>AIzaSyCRf91k9qA5VB_0jxEPdMiucWf0e86mpGg</string>
	<key>GCM_SENDER_ID</key>
	<string>113955999228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRiverpodToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoappriverpod</string>
	<key>STORAGE_BUCKET</key>
	<string>todoappriverpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113955999228:ios:3b52c8804ddec6bf1bb679</string>
</dict>
</plist>